/* =================== Подключение шрифта =================== */
.montserrat-alternates-semibold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* =================== Большой див в котором вся страница =================== */
.big_div {
    /*margins*/
    margin-top: 20px;
    margin-right: 220px;
    margin-left: 220px;
}

/* =================== Заголовок страницы =================== */
header {
    background-color: #70232F;
    border-radius: 15px;

    /* margins */
    margin-bottom: 30px;

    /* paddings */
    padding-left: 40px;

    /*font*/
    font-family: "Montserrat Alternates";
    color: white;
}

.head_text_div {
    /* === content parametres === */
    display: flex;
    align-items: center;     /* По вертикали */
}

.head_text {
    margin-left: 20px;
    font-size: 32px;
}

/* =================== Основная часть страницы =================== */
.base {
    background-color: #EFEFEF;
    border-radius: 15px;
    padding: 40px;
}

/* ************** поисковая часть *************** */
.div_navigation {
    display: flex; /* Включаем Flexbox */
    justify-content: space-between; /* Распределяет элементы по краям */   
}

/* ------ строка поиска ------- */
.input-container {
    border-radius: 5px;
    width: 240px;
    height: 17px;

    border: none;
    outline: none;

    padding-top: 10.5px;
    padding-bottom: 10.5px;
    padding-left: 46.85px;

    background-color: white;
    background-image: url('/public/images/navigation/search_image_1.svg');
    background-position: 7.4375% center; /* Размещение иконки справа */
    background-repeat: no-repeat;
}

/* Перекраска placeholder-а */
input::placeholder {
    color: #D86B79; 
    font-family: 'Montserrat'; 
    font-size: 14px;
}

/* ------ переключатель (Все, платные, бесплатные) ----- */
.segmented-control {
    display: inline-flex;
    /*border: 1px solid #ddd;*/
    border-radius: 6px;
    overflow: hidden;
}
        
.segment {
    padding: 8px 16px;
    margin-left: 20px;
    border: none;
    color: #333333;
    cursor: pointer;
    font-size: 14px;
    font-family: "Montserrat";
    transition: background 0.2s;
}
  
.segment.active {
    border-radius: 5px;
    
    /*paddings*/
    padding: 10px 20px 10px 20px;

    background: white;
    color: #333333;
}

.segment.clicked {
    background: white;
}

/*
.segment:last-child {
    border-right: none;
}
        
.segment:hover {
    background: #f8f8f8;
}
        
.segment.active:hover {
    background: #0056cc;
}
*/

/* ------ кнопка "На карте" ----- */
.on_map_button {
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    gap: 10px;

    background-color: white;
    border: none;
    outline: none;

    display: flex;
    align-items: center;

    font-family: 'Montserrat';
    font-size: 16px;
}

/* ************** Основна часть страницы *************** */
.main_container {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

main {
  /*flex: 2; /* Занимает 2/3 ширины (пример) */
  width: 1030px;
  /*background-color: #f4f4f4;*/
  gap: 20px;
}

aside {
  /*flex: 1; /* Занимает 1/3 ширины (пример) */
  width: 330px;
  background-color: #e0e0e0;
  gap: 20px;
}

/* ************** MAIN *************** */
.filter_1_on_main {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;

    margin-bottom: 20px;
}

.cells_ul {
    list-style: none; /* Убирает маркеры */
    padding: 0;       /* Убирает внутренние отступы слева (default 40px) */
    margin: 0;        /* Убирает внешние отступы */
}
.cells_li {
    /* Можно добавить стили для li, если нужно */
    margin-bottom: 5px;
}

/* ************** ASIDE *************** */
aside {
    background-color: #EFEFEF;
}

.aside_header_123123 {
    font-family: 'Montserrat'; 
    font-weight: 600;
    font-size: 24px;
    color: #333333;
    margin-bottom: 20px;        
}
.main_aside_block {
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border-top: 3px solid #70232F;

    background-color: #FFFFFF;
}

/* Параметры */
.param_age {
    margin-bottom: 10px;

    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    color: #333333;
}
.param_Lyuboy {
    display: flex;
    justify-content: space-between;

    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    color: #333333;
}

/* pol font head */
.param_pol_head_text {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    color: #333333;
}
.param_pol_text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    color: #333333;
}

/*check box*/
input[type="checkbox"] {
    accent-color: #70232F; 
}

.param_uneversalBOX {
    display: flex;
    justify-content: space-between;

    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    color: #333333;

    margin-top: 15px;
}

.param_ul {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    color: #333333;

    padding-left: 20px;
}
